@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true; 
  --color-primary:'#FFFFFF';
  --color-secondary:'#d98200';
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true; 
  --color-primary:'#1e1e1e';
  --color-secondary:'#ffb347';
  --color-base-300:'#2a2a2a'
}